# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Build
dist/
build/
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Java
target/
*.class
*.jar
*.war
*.ear
.mvn/
mvnw
mvnw.cmd

# Database
*.db
*.sqlite
*.db-journal

# Env
.env
.env.local
.env.*.local

# OS
Thumbs.db
